APP_LOCALES="en, bg, ru, fa, de, es, fr, it, pt"
CHANNEL_TOKEN="your-channel-token"
GQL_HOST="http://localhost:3001/shop-api"
I18N_BASE_URL="https://nuxtless.unstack.dev"
NUXT_IMAGE_PROVIDER="ipx"
OG_IMAGE_SECRET="nuxt-og-image generate-secret"
PORT=8080
STRIPE_PUBLIC_KEY="pk_prod_super-long-key"
UNSPLASH_API_KEY="your-unsplash-api-key"
