# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
package-lock.yaml

# Node dependencies
node_modules

# Playground files
**/.playground/

# Logs
logs
*.log
.pnpm-debug.log

# Local History
.history

# Local env files
.env
.env.*
!.env.example

# Misc
.DS_Store
.idea
.vscode/
.swp
.swx

# GQL schema
schema.graphql
graphql.schema.json

# Media files
public/media/

.wrangler
